.left-top{
  background-color: #E5E7E9;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
.left-middle-top {
  background-color: #E5E7E9;
  font-size: 13px;
}
.left-middle-mid {
  text-decoration: none !important;
  border: 0.1px solid black;
  border-bottom-color: #E5E7E9;
  font-size: 13px;
}
.left-middle{
  background-color: #E5E7E9;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
.left-top-div{
  height: 40px;
  width: 100%;
  border-color: #FDFDFD;
  font-size: 13px;
}
.image-icon{
  height: 40px;
  width: 40px;
}
.user-list-section-main-div {
  width: 99% !important;
}