.left-tops{
  border: 0.5px solid gray !important;
  background-color: lightgray;
  height: 50px !important;
}
.left-middles{
  border: 0.5px solid gray !important;
  background-color: lightgray;
  height: 50px !important;
}
.left-top-divs{
  height: 40px !important;
  width: 97% !important;
}
.image-icons{
  height: 50px !important;
  width: 50px !important;
}